<ion-header>
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col size="6">
        <div class="skeleton">
          <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="skeleton">
          <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="skeleton">
          <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="skeleton">
          <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="skeleton">
          <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="skeleton">
          <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="box" *ngIf="!anyImage">
    <h3>No images currently!</h3>
  </div>

  <ion-grid *ngIf="anyImage">
    <ion-row>
      <ion-col size="6" *ngFor="let image of imageList">
        <div class="skeleton">
          <img [src]="image.link" width="100%" height="100%">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="getPicture()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>