ion-content {

    .card {
        width: 100%;
        padding: 8px;
        background: linear-gradient(145deg, #ffffff, #dcdddf);
        box-shadow: 8px 8px 16px #cfd0d3,
            -8px -8px 16px #ffffff;
        margin-bottom: 24px;
    }

    .top {
        border-radius: 8px;
        background: linear-gradient(145deg, #ffffff, #dcdddf);
        box-shadow: 8px 8px 16px #cfd0d3,
            -8px -8px 16px #ffffff;
        border-right: 2px solid #d19115;
        border-top: 1px solid #d19115;
        padding: 8px;
    }

    .text {
        p {
            margin: 4px 0;
        }

        h2 {
            margin: 8px 0;
        }
    }

    .container {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;

        .progress {
            width: fit-content;
            padding: 0;
            height: fit-content;
            border-radius: 50%;
            background: linear-gradient(145deg, #ffffff, #dcdddf);
            box-shadow:  8px 8px 16px #cfd0d3, 
                        -8px -8px 16px #ffffff;
        }
    }

    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        align-items: center;

        ion-item {
            margin: 12px 0;
            width: 90%;
            --background: #e1f3f3;
            box-shadow: 8px 8px 16px #bfcfcf,
                -8px -8px 16px #ffffff;
        }
    }

    .skeleton {
        width: 100%;
        height: 25vh;
        border-radius: 8px;
    }

    .plan {
        width: 100%;
        height: 32vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        background: linear-gradient(145deg, #ffffff, #dcdddf);
        box-shadow: 8px 8px 16px #cfd0d3,
            -8px -8px 16px #ffffff;
        ion-icon {
            font-size: 28px;
        }
        p {
            margin: 8px 0;
        }
        .subPlan {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 4px;
            padding: 2px 8px;
        }
    }

    .ripple-parent {
        position: relative;
        overflow: hidden;
    }
}