<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Savings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newPlan()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <div class="text top">
          <p>Total Savings</p>
          <h2>{{TtlAmt}}</h2>
        </div>
      </ion-col>
      <ion-col size="5" class="ion-text-end">

      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="container">
    <div class="progress">
      <circle-progress [percent]="TotalPercentage" [radius]="100" [outerStrokeWidth]="16" [responsive]="true">
      </circle-progress>
    </div>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>
            All Plans
          </h2>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!plan && !loading">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <div class="ion-text-center shadow ion-activatable ripple-parent" style="border: 1px solid #d19115;"
            (click)="newPlan()">
            <h4>It seems you have no plans yet, tap to get started</h4>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row *ngIf="!plan && loading">
        <ion-col size="6">
          <div class="skeleton">
            <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="skeleton">
            <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="plan">
        <ion-col size="6" *ngFor="let p of plans">
          <div class="plan ion-activatable ripple-parent">
            <div style="width: 100%;">
              <div class="ion-float-right" style="padding: 8px;" (click)="deletePlan(p._id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </div>
            </div>
            <div class="subPlan" (click)="editPlan(p)">
              <circle-progress [percent]="p.percentage" [radius]="45" [outerStrokeWidth]="5" [showInnerStroke]="true"
                [innerStrokeWidth]="1"></circle-progress>
              <p>{{p.planName}}</p>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <div *ngIf="!plan" style="width: 100%; margin-top: 8px;" class="ion-text-center">
    <div class="card" (click)="newPlan()">
      <h3>It seems you have no plans yet, tap to get started</h3>
    </div>
    <img src="assets/images/finance.svg" width="80%" height="80%">
  </div> -->

  <!-- <ion-button color="primary" (click)="newPlan()">Open form</ion-button> -->
</ion-content>