ion-content {

    .card {
        width: 100%;
        padding: 8px;
        background: linear-gradient(145deg, #ffffff, #dcdddf);
        box-shadow: 8px 8px 16px #cfd0d3,
            -8px -8px 16px #ffffff;
        margin-bottom: 24px;
    }

    .top {
        border-radius: 5px;
        background: linear-gradient(145deg, #ffffff, #dcdddf);
        box-shadow: 8px 8px 16px #cfd0d3,
            -8px -8px 16px #ffffff;
        border-right: 2px solid #d19115;
        border-top: 1px solid #d19115;

        .text {
            p {
                margin: 4px 0;
            }

            h2 {
                margin: 8px 0;
            }
        }
    }

    .container {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;

        .progress {
            width: fit-content;
            padding: 0;
            height: fit-content;
            border-radius: 50%;
            background: #f4f5f8;
            box-shadow: inset 8px 8px 16px #cfd0d3,
                inset -8px -8px 16px #ffffff;
        }
    }

    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        align-items: center;

        ion-item {
            margin: 12px 0;
            width: 90%;
            --background: #e1f3f3;
            box-shadow: 8px 8px 16px #bfcfcf,
                -8px -8px 16px #ffffff;
        }
    }
}