<ion-header>
  <ion-toolbar>
    <ion-title>OCR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="box">
    <div class="image">
      <img [src]="selectedImage">
    </div>
  </div>

  <progress-bar *ngIf="displayProgress" [progress]="progress" [color-degraded]="{'0': '#d19115',  '40': '#222831', '80': '#2dd36f'}">
  </progress-bar>

  <ion-card *ngIf="ocrResult" style="margin-top: 16px !important;">
    <ion-card-header>
      Image Text
    </ion-card-header>
    <ion-card-content>
      {{ ocrResult }}
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="!displayProgress" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="selectSource()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>