.box {
    margin-top: 12px;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    .image {
        padding: 8px;
        border-radius: 12px;
        box-shadow: 8px 8px 16px #a7b4b4,
                -8px -8px 16px #ffffff;
    }
    img {
        width: 250px;
        height: 250px;
    }
}