.box {
    margin-top: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    .image {
        padding: 4px;
        border-radius: 6px;
        box-shadow: 4px 4px 8px #a7b4b4,
                -4px -4px 8px #ffffff;
    }
    img {
        width: 250px;
        height: 250px;
    }
}