ion-content {
    .ripple-parent {
        position: relative;
        overflow: hidden;
    }

    form ion-item {
        --background: transparent;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: inset 8px 8px 8px #b5afaf,
            inset -8px -8px 8px #ffffff;
    }

    .field {
        margin-bottom: 16px;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 10px;
    }

}