ion-content {

    .container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .img {
            position: absolute;
            top: 10%;
            right: 20px;
            height: 90vh;
        }
        .box {
            width: 90%;
            height: 30vh;
            padding: 0 10px;

            .card {
                width: 170px;
                height: 170px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: linear-gradient(145deg, #f1ffff, #cbdbdb);
                box-shadow: 8px 8px 16px #a7b4b4,
                    -8px -8px 16px #ffffff;
                border-radius: 10px;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .ripple-parent {
                position: relative;
                overflow: hidden;
            }
        }
    }
}