<ion-content>
  <div class="container">
    <img class="img" src="assets/images/luck.svg">
    <div class="box">
      <div class="card ion-activatable ripple-parent" (click)="expense()">
        <img src="assets/images/calc.svg">
        <p>Budget Calculator</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="box">
      <div class="card ion-float-right ion-activatable ripple-parent" (click)="savings()">
        <img src="assets/images/piggy.svg">
        <p>Savings</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>
</ion-content>