ion-content {

    .text {
        width: 100%;
        font-size: 24px;
        margin-top: 8px;
        margin-bottom: 8px;
        z-index: 10;
    }

    .slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        img {
            position: absolute;
            top: 40px;
            right: 0;
        }
    }
    form ion-item {
        margin-top: 24px;
        border-radius: 10px;
        --background: #e1f3f3;
        opacity: 0.6;
        // --background: transparent;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 10px;
    }

    ion-button {
        margin-top: 24px;
    }
}