  <h3 mat-dialog-title>{{title}}</h3>
  <div mat-dialog-content [formGroup]="budgetForm">
    <mat-form-field>
      <mat-label>Budget Name</mat-label>
      <input matInput type="text" formControlName="budgetName" required>
    </mat-form-field>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of errorMessage.budgetName">
        <div class="error-message"
          *ngIf="budgetForm.get('budgetName').hasError(validation.type) && (budgetForm.get('budgetName').dirty || budgetForm.get('budgetName').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="number" inputmode="numeric" formControlName="budget" required>
    </mat-form-field>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of errorMessage.budget">
        <div class="error-message"
          *ngIf="budgetForm.get('budget').hasError(validation.type) && (budgetForm.get('budget').dirty || budgetForm.get('budget').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!-- <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="month">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    <!-- <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeMe()">No</button>
    <button mat-button (click)="submitBudget()"
      cdkFocusInitial>Save</button>
  </div>