<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="newBudget()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="spinner" *ngIf="spinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!spinner">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <mat-form-field>
            <mat-label>Select Budget</mat-label>
            <mat-select [(value)]="b" (selectionChange)="budgetSelect($event)">
              <mat-option *ngFor="let b of allBudgets" [value]="b">
                {{b.budgetName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="box" (click)="editBudget()">
            <img src="assets/images/bag.svg">
            <h2>Budget</h2>
            <ion-label>{{budget | currency:"NGN":"symbol-narrow":'3.0'}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="box2">
            <div class="title">Expenses</div>
            <div class="body">{{expense | currency:"NGN":"symbol-narrow":'3.0'}}</div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="box2">
            <div class="title">Balance</div>
            <div class="body">{{balance | currency:"NGN":"symbol-narrow":'3.0'}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="anyExpense">
      <!-- <app-doughnut-chart></app-doughnut-chart> -->
      <div class="chart">
        <app-bar-chart *ngIf="chart === 'bar'"></app-bar-chart>
        <app-doughnut-chart *ngIf="chart === 'doughnut'"></app-doughnut-chart>
        <app-pie-chart *ngIf="chart === 'pie'"></app-pie-chart>
      </div>
      <!-- <app-pie-chart></app-pie-chart> -->
      <div class="list">
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-label>Latest Spending</ion-label>
            </ion-col>
            <ion-col size="3">
              <div class="button ion-float-right" (click)="openExpense()">
                <ion-icon name="add" size="large"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item-sliding *ngFor="let expense of expenseList">
          <ion-item lines="none" (click)="editExpense(expense)">
            <ion-icon [name]="expense.icon" slot="start"></ion-icon>
            <ion-label>
              <h2>{{expense.category}}</h2>
              <p>{{expense.descr}}</p>
            </ion-label>
            {{expense.amount}}
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delExp(expense._id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="editExpense(expense)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>

    <div *ngIf="!anyExpense">
      <img src="assets/images/exp.svg">
      <div style="width: 100%; text-align: center;">
        <ion-button (click)="openExpense()">Add Expense</ion-button>
      </div>
    </div>
  </div>
</ion-content>