.header {
    padding: 8px 0;
    margin-bottom: 8px;

    .button {
        width: fit-content;
        background: #e1f3f3;
        padding: 4px;
        border-radius: 10px;

        ion-icon {
            font-size: 36px;
        }
    }

    .ripple-parent {
        position: relative;
        overflow: hidden;
    }
}

ion-grid {
    --ion-grid-padding: 0 !important;
}

.chart {
    width: 100%;
    height: 100%;
    padding: 4px;
    background: #f4f5f8;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #cfd0d3,
        -8px -8px 16px #ffffff;
}

ion-label {
    font-size: 24px;
}

.box {
    display: flex;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    width: 100%;
    height: 100px;
    color: black;
    background: #f4f5f8;
    box-shadow: 8px 8px 16px #cfd0d3,
        -8px -8px 16px #ffffff;
    margin-bottom: 12px;

    img {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 10px;
        right: -70px;
    }

    ion-label {
        font-size: 24px;
    }

}

.box2 {
    display: flex;
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-bottom: 4px;
    box-shadow: inset 5px 5px 10px #cfd0d3, 
            inset -5px -5px 10px #ffffff;

    .title {
        font-size: 18px;
        padding-bottom: 4px;
        font-weight: 500;
    }

}

.list {
    margin-top: 16px;
    padding: 0 4px;

    ion-item-sliding {
        margin-top: 16px;
        border-radius: 10px;
        --background: #f4f5f8;
        box-shadow: 8px 8px 16px #cfd0d3,
            -8px -8px 16px #ffffff;
    }

    ion-item {
        --background: #f4f5f8;
    }
}